.carDashboard {
	height: 73vh; 
	background-image: url(../../images/honda-cr-z-2010-3_top.png);
	background-repeat: no-repeat;
	background-size: 80vh;
	background-position-x: center;
	background-position-y: 7vh
}

.dashboardFooter {
	position: fixed;
	bottom: 70px;
	height: 110px !important;
	background-color: rgba(30, 144, 255, 0.02);
	border-width: 0px;
	border-top: 1px solid rgba(30, 144, 255, 1);
	margin-left: 15px;	
}

.graph-textfield {
	text-align: center;
}	

.graph-area {
	text-align: center;
}

.cardashboard-nav {
	bottom: 12vh;
	background-color: rgba(30, 144, 255, 0.02);
	border-top: 0px;
	height: 24vh;
	width: 100%;
}

#panelRight {
  /* for the animation */
  transition: margin 0.3s ease;
}

.collapsed {
  /* hide it for small displays*/
  display: none;
}

@media (min-width: 992px) {
  .collapsed {
    display: block;
    /* same width as sidebar */
    margin-left: -25%;
  }
}

#panelLeft {
  /* necessary to hide collapsed sidebar */
  overflow-x: hidden;
  transition: width 0.3s ease;
}