body {
	color: rgba(204, 204, 204, 1);
	background-color: #222;
}

.navbar-inverse {
	background-image: radial-gradient(at top, rgba(30, 144, 255, 0.7), rgba(30, 144, 255, 0), #222); 
	border-top-width: 0px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover {
	background-color: rgba(30, 144, 255, 0.02);
} 

.navbar-inverse .navbar-nav>li {
    margin-left: 5px;
} 

.navbar-inverse .navbar-collapse {
	border-top: 1px solid rgba(30, 144, 255, 1);
		
}

.navbar-info-btn {
	padding-left: 0px;
    padding-right: 0px;
    margin-left: 7px;
    margin-right: 7px;
}


/** HOME **/
.box-outer {
	overflow: hidden;
}

.main_box {
	position: relative;
	background: #222;
	border-width: 3px;
	border-style: solid;
	border-image: 
		linear-gradient(
			to top, 
			rgba(30, 144, 255, 0.7),
			#222
		) 1 100%;
}
.bar {
	position: absolute;
	width: 50px;
	height: 5px;
	background: #222;
	transition: all 1.5s linear;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.right, .left {
	top: 18px;
	right: -28px;
	transform: rotate(90deg);
}

.left {
	top: 18px;
	left: -28px;
	transform: rotate(90deg);
}

@keyframes v-move {
	0% {
		top: -5px;
	}
	100% {
		top:228px;
	}
}

@keyframes v-move_top {
	0% {
		top: 228px;
	}
	100% {
		top:-5px;
	}
}

.right {
	-webkit-animation-name: v-move;
	animation-name: v-move;
}

.left {
	-webkit-animation-name: v-move_top;
	animation-name: v-move_top;
}

.bar.delay {
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
}


.btn-infotainment-border {
	padding: 1rem;
	border-width: 3px;
	border-style: solid;
	border-image: 
		linear-gradient(
			to bottom, 
			rgba(30, 144, 255, 0.7),
			#222
		) 1 100%; 
}

.infotainment-lastCallLabel {
	font-weight: bold;
	color: rgba(30, 144, 255, 1);
}


.bot-right {
  	position: relative;
  	margin-bottom: 20px;
	padding: 5px 0px 10px 0px;
	background-image: linear-gradient(to top, rgba(30, 144, 255, 0.05), #222);
}
.bot-right:before, .bot-right:after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: -3px;
  
}
.bot-right:before {
  top: -3px;
  width: 3px;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(rgba(30, 144, 255, 1)), to(transparent));
  background-image: -webkit-linear-gradient(transparent, rgba(30, 144, 255, 1));
  background-image: -moz-linear-gradient(transparent, rgba(30, 144, 255, 1));
  background-image: -o-linear-gradient(transparent, rgba(30, 144, 255, 1));
}
.bot-right:after {
  left: -3px;
  height: 3px;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(30, 144, 255, 1)), to(transparent));
  background-image: -webkit-linear-gradient(right, rgba(30, 144, 255, 1), transparent);
  background-image: -moz-linear-gradient(right, rgba(30, 144, 255, 1), transparent);
  background-image: -o-linear-gradient(right, rgba(30, 144, 255, 1), transparent);
}

/** CALL **/
.btn-infotainment-border .btn-infotainment-glow {
	box-shadow: 0 0 5px rgba(30, 144, 255, 1);
}

/** OMX **/
.omx-navbar-inverse {
	background-color: rgba(30, 144, 255, 0.02);
	background-image: radial-gradient(at bottom, rgba(30, 144, 255, 0.7), rgba(30, 144, 255, 0), #222); 
	/** border-width: 0px;
	border-bottom: 1px solid rgba(30, 144, 255, 1);	
	*/
	border: 1px solid rgba(30, 144, 255, 1);	
	height: 500px;
	position: fixed;
}

.omx-navbar-button {
	color: rgba(30, 144, 255, 1);
	margin-left: -11px;
}

.omx-navbar-collapse {
	height: auto;
    border-top: 0;
    max-height: none;
    padding-left:0;
    padding-right:0;
}

.omx-dir-tree-panel {
	/**height: 483px;	*/
	background-color: #222; 
}

.omx-dir-tree-panel .panel-body {
	padding: 0px;
}

.sui-treeview {
	background-color: #222 !important; 
	height: 429px !important;
	color: rgba(204, 204, 204, 1) !important;
}

.navbar-playing {
	background-color: rgba(30, 144, 255, 0.02);
	border-width: 0px;
	border-bottom: 1px solid rgba(30, 144, 255, 1);	
}


/*** YOUTUBE HISTORY ***/
.table-history>tbody>tr>td {
	border-image-source: linear-gradient(to right, rgba(30, 144, 255, 0.7), #222 ) 1 100% !important; 
	background-image: radial-gradient(at top, rgba(105, 141, 174, 0.7), rgba(105, 141, 174, 0), #222);
	border-top-color: rgba(30, 144, 255, 0.7) !important;
}

.table-history > tbody > tr:nth-child(2n+1) > td, .table-history > tbody > tr:nth-child(2n+1) > th {
   background-image: radial-gradient(at top, rgba(30, 144, 255, 0.7), rgba(30, 144, 255, 0), #222);
	border-top-color: rgba(105, 141, 174, 0.7) !important;
}