body {
	color: rgba(204, 204, 204, 1);
	background-color: #222;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover {
	background-color: rgba(30, 144, 255, 0.02);
} 

.navbar-inverse .navbar-nav>li {
    margin-left: 5px;
} 

.navbar-inverse .navbar-collapse {
	border-top: 1px solid rgba(30, 144, 255, 1);
}

.navbar-inverse{
	border-top-width: 0px;
}

.navbar-info-btn {
	padding-left: 0px;
    padding-right: 0px;
    margin-left: 7px;
    margin-right: 7px;
}


/** HOME **/
.btn-infotainment-starredC {
	border: 1.5px solid rgba(30, 144, 255, 1);
	border-radius: 0px;
	background-color: #222;
}

.btn-infotainment-lastC {
	border-bottom: 0.2px solid rgba(30, 144, 255, 1);
	border-right: 0.2px solid rgba(30, 144, 255, 1);
	margin-bottom: 10px;
	background-color: rgba(30, 144, 255, 0.05);
}

.infotainment-lastCallLabel {
	font-weight: bold;
	color: rgba(30, 144, 255, 1);
}

/** OMX **/
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: rgba(30, 144, 255, 1);
    cursor: default;
    background-color: rgba(30, 144, 255, 0.05);
    border: 1px solid rgba(30, 144, 255, 1);
    border-radius: 0px;
    border-bottom-color: transparent;
}

.nav-tabs>li>a:hover {
	color: rgba(30, 144, 255, 1);
	background-color: rgba(30, 144, 255, 0.05);
    border: 1px solid rgba(30, 144, 255, 1);
    border-radius: 0px;
    border-bottom-color: transparent;
}

.nav-tabs {
    border-bottom: 1px solid rgba(30, 144, 255, 1);
}

.btn-infotainment-omx-cmd {
	color: rgba(30, 144, 255, 1);
}